#jinja2: trim_blocks: True, lstrip_blocks: True
{#######################################

#Purpose:
Custom configuration for SONiC devices


{%if ip_route is defined and ip_route %}
ip route {%if vrf is defined and vrf %}vrf {{vrf}}{%endif%} 0.0.0.0/0 {{ip_route}}
{%endif%}

{#following interface vxlan is inactive block, as resource module is available for vxlan #}
{%if vtep_name1 is defined and vtep_name1%}
interface vxlan {{vtep_name}}
  source-ip {{ loopback1_ip.split('/')[0] }}
  {%for vlan in vlans%}
  map vni {{vlan_info[vlan].vni}} vlan {{vlan}} 
  {%endfor%}
  {%for vlan in vlans%}
  {%if vlan_info[vlan].anycast_gateway_ip is not defined or vlan_info[vlan].anycast_gateway_ip == None%}  map vni {{vlan_info[vlan].vni}} vrf {{vlan_info[vlan].vrf}}{%endif%}
  {%endfor%}
{%endif%}

{#tacacs configuration #}
{%if tacacs is defined and tacacs %}
{%if tacacs.hosts%}{%for host in tacacs.hosts%}
tacacs-server host {{host.name}} vrf mgmt key {{host.key}} port {{host.port}} timeout {{host.timeout}} priority {{host.priority}} 
{%endfor%}{%endif%}
{%endif%}
{# end of tacacs configuration #}

{# Add peer-ip for VTEP loadbalancing #}
{%if host_data[inventory_hostname].mclag_peer_ip is defined and host_data[inventory_hostname].mclag_peer_ip %}
		router bgp {{ bgp_asn }}
		address-family l2vpn evpn
		advertise-pip peer-ip {{ host_data[inventory_hostname].mclag_peer_ip }}
{%endif%}

{# Allow own AS in from MCLAG neighbor #}
{%if sonic_bgp_spineleaf_peergroup.address_family.afis is defined and sonic_bgp_spineleaf_peergroup.address_family.afis %}
	{% for afi in sonic_bgp_spineleaf_peergroup.address_family.afis %}
		{%if afi.afi == 'ipv4' %}
			router bgp {{ bgp_asn }}
			peer-group {{ sonic_bgp_spineleaf_peergroup.name }}
			address-family {{ afi.afi }} unicast
			allowas-in 1
		{%endif%}
	{%endfor%}
{%endif%}

