#jinja2: trim_blocks: True, lstrip_blocks: True
{#######################################

#Purpose:
Custom configuration for SONiC devices



{# Add peer-ip for VTEP loadbalancing #}
{%if host_data[inventory_hostname].mclag_peer_ip is defined and host_data[inventory_hostname].mclag_peer_ip %}
		router bgp {{ bgp_asn }}
		address-family l2vpn evpn
		advertise-pip peer-ip {{ host_data[inventory_hostname].mclag_peer_ip }}
{%endif%}

